@import '../vars.scss';

.btn{
    cursor: pointer;
    padding: 5px 10px; 
    border-radius: 5px;
}

.primary{
    color: #fff;
    background-color: #111D4A;
}

.secondary{
    color: #000;
    background-color: #fff;
    border: 1px solid $border_color;
}